<html>
	<head>
        <link rel="shortcut icon" type="image/png" href="../frame/src/img/game-development.png"/>
        <title>Template - GameDevelop</title>
	</head>
	<body>
		<canvas id=gc></canvas>
        <script src=../frame/src/js/gameFrame.js></script>
        <link rel=stylesheet href=../frame/src/css/main.css charset="utf-8">
        <script>
            var game = new Game("gc", 800, 600, true);
            setInterval(() => game.draw(drawing), 1000/60);

            var drawing = function(){

            };
        </script>
    </body>
</html>